Repository inertiajs-revamped/inertia, pull requests merged in 2024-05, with the labels that each got.

#41 refactor(core): replace `default` with named exports
  packages/core/src/debounce.ts
  packages/core/src/head.ts
  packages/core/src/index.ts
  packages/core/src/modal.ts
  packages/core/src/router.ts
  packages/core/src/shouldIntercept.ts
Labels: pkg/core

#42 refactor(react): replace `default` with named exports
  packages/react/src/App.ts
  packages/react/src/Head.ts
  packages/react/src/HeadContext.ts
  packages/react/src/Link.ts
  packages/react/src/PageContext.ts
  packages/react/src/createInertiaApp.ts
  packages/react/src/helper.ts
  packages/react/src/index.ts
  packages/react/src/useForm.ts
  packages/react/src/usePage.ts
  packages/react/src/useRemember.ts
Labels: pkg/react

#43 refactor(preact): replace `default` with named exports
  packages/preact/src/App.ts
  packages/preact/src/Head.ts
  packages/preact/src/HeadContext.ts
  packages/preact/src/Link.ts
  packages/preact/src/PageContext.ts
  packages/preact/src/createInertiaApp.ts
  packages/preact/src/helper.ts
  packages/preact/src/index.ts
  packages/preact/src/useForm.ts
  packages/preact/src/usePage.ts
  packages/preact/src/useRemember.ts
Labels: pkg/preact

#44 refactor(vue): replace `default` with named exports
  packages/vue/src/app.ts
  packages/vue/src/createInertiaApp.ts
  packages/vue/src/head.ts
  packages/vue/src/index.ts
  packages/vue/src/link.ts
  packages/vue/src/remember.ts
  packages/vue/src/types.ts
  packages/vue/src/useForm.ts
  packages/vue/src/useRemember.ts
Labels: pkg/vue

#46 refactor(laravel): refactor laravel adapter
  .gitignore
  biome.json
  packages/laravel/.gitattributes
  packages/laravel/_ide_helpers.php
  packages/laravel/composer.json
  packages/laravel/composer.lock
  packages/laravel/tests/ResponseTest.php
Labels: pkg/laravel

#53 refactor(vue): replace lodash.clonedeep with structured-clone
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/structured-clone.ts
  packages/vue/package.json
  packages/vue/src/remember.ts
  packages/vue/src/useForm.ts
  packages/vue/src/useRemember.ts
  pnpm-lock.yaml
Labels: pkg/core, pkg/vue

#54 refactor: replace lodash.isequal with fast-equals
  packages/preact/package.json
  packages/preact/src/useForm.ts
  packages/react/package.json
  packages/react/src/useForm.ts
  packages/vue/package.json
  packages/vue/src/useForm.ts
  pnpm-lock.yaml
Labels: pkg/react, pkg/vue, pkg/preact

#62 feat: allow set processing to be set on react adaptors
  packages/preact/src/useForm.ts
  packages/react/src/useForm.ts
Labels: pkg/react, pkg/preact

#65 refactor(laravel): add multiple prs
  packages/laravel/composer.json
  packages/laravel/composer.lock
  packages/laravel/config/inertia.php
  packages/laravel/package.json
  packages/laravel/src/Commands/CreateMiddleware.php
  packages/laravel/src/Commands/StartSsr.php
  packages/laravel/src/Commands/StopSsr.php
  packages/laravel/src/Middleware.php
  packages/laravel/src/Response.php
  packages/laravel/stubs/middleware.stub
  packages/laravel/tests/Features/ResponseTest.php
  packages/laravel/tests/Stubs/ExampleMiddleware.php
  packages/laravel/tests/Stubs/FakeResource.php
Labels: pkg/laravel

#66 refactor(laravel): merge multiple prs
  packages/laravel/src/Inertia.php
  packages/laravel/src/Middleware.php
  packages/laravel/src/Response.php
  packages/laravel/src/ResponseFactory.php
  packages/laravel/src/ServiceProvider.php
  packages/laravel/src/Support/Header.php
  packages/laravel/tests/Features/MiddlewareTest.php
  packages/laravel/tests/Features/ResponseFactoryTest.php
  packages/laravel/tests/Features/ResponseTest.php
  packages/laravel/tests/Stubs/ExampleMiddleware.php
Labels: pkg/laravel
